{% extends 'layout_m.html' %}

{% block title %}Список машин{% endblock %}

{% block content %}
    <h2 style="text-align: center; margin-bottom: 30px;">Список машин</h2>
<div class="button-row">
    <form action="{% url 'export_cars' %}" method="post">
        {% csrf_token %}
        <button type="submit"  class="btn export">Експорт даних</button>
    </form>
    </form>
        <form action="{% url 'import_cars' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn import">Імпорт даних</button>
    </form>
</div>
    <form method="get">
        {% csrf_token %}
        <table class="filter-table">
            <tr>
                <th>
                    <input name="filter_id" type="number">
                    <a href="?sort=id&dir={% if sort_field == 'id' and direction == 'asc' %}desc{% else %}asc{% endif %}">ID</a>
                </th>
                <th>
                    <input name="filter_producer_name" type="text">
                    <a href="?sort=producer_name&dir={% if sort_field == 'producer_name' and direction == 'asc' %}desc{% else %}asc{% endif %}">Назва виробника</a>
                </th>
                <th>
                    <input name="filter_year_production" type="number">
                    <a href="?sort=year_production&dir={% if sort_field == 'year_production' and direction == 'asc' %}desc{% else %}asc{% endif %}">Рік випуску</a>
                </th>
                <th>
                    <input name="filter_model" type="text">
                    <a href="?sort=model&dir={% if sort_field == 'model' and direction == 'asc' %}desc{% else %}asc{% endif %}">Модель</a>
                </th>
                <th>
                    <input name="filter_cost" type="number">
                    <a href="?sort=cost&dir={% if sort_field == 'cost' and direction == 'asc' %}desc{% else %}asc{% endif %}">Собівартість</a>
                </th>
                <th>
                    <input name="filter_potential_selling_price" type="number">
                    <a href="?sort=potential_selling_price&dir={% if sort_field == 'potential_selling_price' and direction == 'asc' %}desc{% else %}asc{% endif %}">Потенційна ціна продажу</a>
                </th>
                <th>
                    <input name="filter_is_available" type="boolean">
                    <a href="?sort=is_available&dir={% if sort_field == 'is_available' and direction == 'asc' %}desc{% else %}asc{% endif %}">Наявність</a>
                </th>
                <th><button type="submit">ОК</button><br><br></th>
            </tr>
            {% for car in all_cars %}
            <tr>
                <td>{{ car.id }}</td>
                <td>{{ car.producer_name }}</td>
                <td>{{ car.year_production }}</td>
                <td>{{ car.model }}</td>
                <td>{{ car.cost }} $</td>
                <td>{{ car.potential_selling_price }} $</td>
                <td>{% if car.is_available %}✅{% else %}❌{% endif %}</td>
                <td><a href="{% url 'car_details' car.id%}">Детальніше</a></td>
            </tr>
            {% endfor %}
        </table>
      <br>
      <a href="{% url 'create_car' %}">➕ Додати нову машину</a>
    </form>

{% endblock %}