{% extends 'layout_m.html' %}

{% block title %}Список машин{% endblock %}

{% block content %}
    <h2 style="text-align: center; margin-bottom: 30px;">Список машин</h2>
<div class="button-row">
    <form action="{% url 'export_cars' %}" method="post">
        {% csrf_token %}
        <button type="submit"  class="btn export">Експорт даних</button>
    </form>
    </form>
        <form action="{% url 'import_cars' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn import">Імпорт даних</button>
    </form>
</div>
    <form method="get">
        {% csrf_token %}
        <table class="filter-table">
            <tr>
                <th>
                    <input name="filter_id" type="number">
                    ID
                </th>
                <th>
                    <input name="filter_producer_name" type="text">
                    Назва виробника
                </th>
                <th>
                    <input name="filter_year_production" type="number">
                    Рік випуску
                </th>
                <th>
                    <input name="filter_model" type="text">
                    Модель
                </th>
                <th>
                    <input name="filter_cost" type="number">
                    Собівартість
                </th>
                <th>
                    <input name="filter_potential_selling_price" type="number">
                    Потенційна ціна продажу
                </th>
                <th>
                    <input name="filter_is_available" type="boolean">
                    Наявність
                </th>
                <th><button type="submit">ОК</button><br><br></th>
            </tr>
            {% for car in all_cars %}
            <tr>
                <td>{{ car.id }}</td>
                <td>{{ car.producer_name }}</td>
                <td>{{ car.year_production }}</td>
                <td>{{ car.model }}</td>
                <td>{{ car.cost }} $</td>
                <td>{{ car.potential_selling_price }} $</td>
                <td>{% if car.is_available %}✅{% else %}❌{% endif %}</td>
                <td><a href="{% url 'car_details' car.id%}">Детальніше</a></td>
            </tr>
            {% endfor %}
        </table>
      <br>
      <a href="{% url 'create_car' %}">➕ Додати нову машину</a>
    </form>

{% endblock %}