{% extends '../detail_view_base.html' %}
{% block inner %}
    <p><strong>ID:</strong> {{ sale.id }}</p>
    <p><strong>Працівник:</strong> {{ sale.worker }}</p>
    <p><strong>Машина:</strong> {{ sale.car }}</p>
    <p><strong>Дата продажу:</strong> {{ sale.sale_date }}</p>
    <p><strong>Ціна продажу:</strong> {{ sale.selling_price }} $</p>
    <p><strong>Прибуток</strong> {{ sale.profit }} $</p>
{% endblock %}

{% block l %}
{% url 'sale_update' sale.id %}
{% endblock %}

{% block d %}
{% url 'sale_delete' sale.id %}
{% endblock %}