{% extends 'layout_m.html' %}

{% block title %}Список продажів{% endblock %}

{% block content %}
    <h2 style="text-align: center; margin-bottom: 30px;">Список продажів</h2>
    <div class="button-row">
        <form action="{% url 'export_sales' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn export">Експорт даних</button>
        </form>
        </form>
            <form action="{% url 'import_sales' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn import">Імпорт даних</button>
        </form>
    </div>
    <form method="get">
        {% csrf_token %}
        <table>
            <tr>
                <th>
                    <input name="filter_id" type="number">
                    ID
                </th>
                <th>
                    <input name="filter_worker__full_name" type="text">
                    Робітник
                </th>
                <th>
                    <div class="inputs-row">
                        <input name="filter_car__producer_name" type="text">
                        <input name="filter_car__model" type="text">
                    </div>
                    Машина
                </th>
                <th>
                    <input name="filter_sale_date" type="date">
                    Дата продажу
                </th>
                <th>
                    <input name="filter_selling_price" type="number">
                    Ціна продажу
                </th>
                <th>
                    <input name="filter_profit" type="number">
                    Прибуток
                </th>
                <th><button type="submit">ОК</button><br><br></th>
            </tr>
            {% for sale in all_sales %}
            <tr>
                <td>{{ sale.id }}</td>
                <td>{{ sale.worker.full_name }}</td>
                <td>{{ sale.car.producer_name }} {{ sale.car.model }}</td>
                <td>{{ sale.sale_date }}</td>
                <td>{{ sale.selling_price }} $</td>
                <td>{{ sale.profit }} $</td>
                <td><a href="{% url 'sale_details' sale.id%}">Детальніше</a></td>
            </tr>
            {% endfor %}
        </table>
      <br>
      <a href="{% url 'create_sale' %}">➕ Додати новий продаж</a>
    </form>
{% endblock %}