{% extends 'layout_m.html' %}

{% block title %}{% block t %}Додати {% endblock %}{{ object_name }}{% endblock %}

{% block content %}
<body class="add-item-page">
<h2 style="text-align: center; margin-bottom: 30px;">{% block h %}Додати{% endblock %} {{ object_name }}</h2>

<form method="post">
    {% csrf_token %}
    {% for field in form %}
    <div class="form-group">
        <label class="form-label" >{{ field.label }}</label>
        {{ field }}
    </div>
    {% endfor %}
    <button type="submit">{% block b %}Додати{% endblock %}</button>
</form>
{% endblock %}
