<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Moderator Panel{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'moderator/css/style_m.css' %}?{{ timestamp }}">
</head>
<body>
    <main class="container">
        <form method="post">
            {% csrf_token %}
            <h2>Авторизація для адмінів</h2>
            <p>Логін</p>
            <input name="login" type="text">
            <p>Пароль</p>
            <input name="password" type="text">
            <button type="submit">Увійти</button>
        </form>
    </main>
</body>
</html>