{% extends 'layout_m.html' %}

{% block title %}Список працівників{% endblock %}

{% block content %}
    <h2 style="text-align: center; margin-bottom: 30px;">Список працівників</h2>
    <div class="button-row">
        <form action="{% url 'export_workers' %}" method="post">
            {% csrf_token %}
            <button type="submit"  class="btn export">Експорт даних</button>
        </form>
            <form action="{% url 'import_workers' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn import">Імпорт даних</button>
        </form>
    </div>
    <form method="get">
        {% csrf_token %}
        <table>
            <tr>
                <th>
                    <input name="filter_id" type="number">
                    ID
                </th>
                <th>
                    <input name="filter_full_name" type="text">
                    ПІБ
                </th>
                <th>
                    <input name="filter_position" type="text">
                    Посада
                </th>
                <th>
                    <input name="filter_phone" type="text">
                    Телефон
                </th>
                <th>
                    <input name="filter_email" type="text">
                    Email
                </th>
                <th>
                    <input name="filter_is_active" type="boolean">
                    Активний
                </th>
                <th><button type="submit">ОК</button><br><br></th>
            </tr>
            {% for worker in all_workers %}
            <tr>
                <td>{{ worker.id }}</td>
                <td>{{ worker.full_name }}</td>
                <td>{{ worker.position }}</td>
                <td>{{ worker.phone }}</td>
                <td>{{ worker.email }}</td>
                <td>{% if worker.is_active %}✅{% else %}❌{% endif %}</td>
                <td><a href="{% url 'worker_details' worker.id%}">Детальніше</a></td>
            </tr>
            {% endfor %}
        </table>
        <br>
        <a href="{% url 'create_worker' %}">➕ Додати нового працівника</a>
    </form>

{% endblock %}
