{% extends 'layout.html' %}
{% block title %}Контакти{% endblock %}

{% block content %}
    <div class="contacts-page">
        <h1>Наші Контакти</h1>
        <p><strong>Адреса:</strong> м. Київ, вул. Хрещатик, 10</p>
        <p><strong>Телефон:</strong> +380 (67) 123-45-67</p>
        <p><strong>Email:</strong> info@company.com</p>

        <h2>Години роботи</h2>
        <p>Пн-Пт: 9:00 – 18:00<br>Сб-Нд: вихідні</p>

        <h2>Ми на карті</h2>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2539.865759836408!2d30.522366515894635!3d50.44758597947495!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4ce5614f9f9b7%3A0x5c9e5efb8a45af3c!2z0YPQuy4g0KXRg9C70L7QstCw0Y8sIDEwLCDQmtC40ZfQsiwg0JrQuNGX0LIsIDAxMDAw!5e0!3m2!1suk!2sua!4v1692105600000!5m2!1suk!2sua"
             allowfullscreen loading="lazy"></iframe>
    </div>

{% endblock %}
